<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>uploader</title>
</head>
<body>

<input id="fileupload" type="file" name="fileupload" />
<button id="upload-button" onclick="uploadFile()"> upload </button>

<script>
    async function uploadFile() {
        let formData = new FormData();
        formData.append("file", fileupload.files[0]);
        let response = await fetch('/upload', {
            method: "POST",
            body: formData
        })
        if(response.status == 200) {
            alert("File successfully uploaded.");
        }

    }

</script>

</body>
</html>